Source: heatmon
Section: admin
Priority: optional
Maintainer: Manuel <manuel-io@posteo.org>
Build-Depends: ruby, debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/manuel-io/heatmon
Vcs-Git: https://github.com/manuel-io/heatmon.git
Vcs-Browser: https://github.com/manuel-io/heatmon

Package: heatmon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, cpufrequtils
Description: Monitor the CPU temperature heat and use this tool to react accordingly.
